<div class="col-xs-1 col-sm-2 col-md-2">
  <input type="button" (click)="AddImage()" value="Add Image" />
  <input type="button" (click)="AddText()" value="Add Text" />
  <input type="button" (click)="SaveImage()" value="Save Image" />
  <input type="button" (click)="DeleteItem()" value="DeleteItem" [disabled]="!isDeleteEnable" />
</div>

<div id="rootDiv" class="col-xs-9 col-sm-8 col-md-8">
  <div id="{{Meme.RefIndex}}" [ngClass]="{'on-active': Meme.IsActive && !Meme.IsImage, 'on-active-image': Meme.IsActive && Meme.IsImage}" class="drag" *ngFor="let Meme of Memes"
    (blur)="onDeactivate(Meme)">
    <div class="text-box" *ngIf="!Meme.IsImage" [ngLoaded]="onElementLoaded" [isElementAdded]="IsElementAdded">
      <span contenteditable="true" name="text" [style.color]="Meme.Foreground" [style.font-size]="Meme.FontSize" [style.font-family]="Meme.FontFamily" (mouseenter)="onMouseEnter(Meme)"
        (mouseleave)="onBlur(Meme)" (click)="onActivated(Meme)">{{Meme.Text}}</span>
    </div>
    <div class="image-box" *ngIf="Meme.IsImage" [ngLoaded]="onElementLoaded" [isElementAdded]="IsElementAdded" (mouseleave)="onBlur(Meme)"
      (click)="onActivated(Meme)">
      <img class="img-responsive" [src]="Meme.ImageUrl" />
    </div>
  </div>
</div>
<div class="col-xs-1 col-sm-2 col-md-2">
  <input class="clr-picker" [(colorPicker)]="currentModel.Foreground" [style.background]="currentModel.Foreground" />
  <select [(ngModel)]="currentModel.FontFamily">
    <option [value]="font" *ngFor="let font of availableFonts">{{font}}</option>
  </select>
  <select [(ngModel)]="currentModel.FontSize">
    <option [value]="fontSize" *ngFor="let fontSize of fontSizes">{{fontSize}}</option>
  </select>
</div>